.toolbar {
  flex: 0 0 15%;
  padding: 10px;
  background-color: #ffe6b8;
}

.content {
  display: flex;
  flex: 0 0 85%;
  padding: 5px;
  background-color: #a5c6f7;
}

.content-todos {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.content-avatar {
  display: flex;
  flex: 0 0 40%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

.todos-header {
  flex: 0 0 5%;
  padding-top: 15px;
  padding-bottom: 5px;
}

.todos-container {
  flex: 1;
  min-width: 95%;
  background-color: #f7f8fc;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todos-controls {
  min-width: 95%;
  padding-top: 10px;
}

.todo-item {
  display: flex;
  text-align: center;
  justify-content: center;
}

.avatar-display {
  display: flex;
  flex: 0 0 60%;
  min-width: 95%;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.avatar-items {
  display: flex;
  flex: 1;
  min-width: 95%;
  flex-direction: column;
  align-items: center;
}

.btn-calendar {
  background-color: #dbdbdb;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.create-todo-modal {
  text-align: left;
  padding: 10px 25px 10px 25px;
}

.validation-msg {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 15px 10px 0px 10px;
  width: 100%;
  border-style: solid;
  border-left-width: 5px;
  border-top-width: 0.1pt;
  border-right-width: 0.1pt;
  border-bottom-width: 0.1pt;
  border-radius: 2px;
}

.validation-msg.success {
  border-color: #51b951;
  background-color: #c7e6cf;
}

.validation-msg.error {
  border-color: #f72424;
  background-color: #f1cdcd;
}

.validation-icon.error {
  color: #f72424;
}

.validation-icon.success {
  color: #51b951;
}

.validation-icon {
  padding-right: 10px;
  align-self: flex-start;
}

.validation-text {
  font-size: 15px;
  text-align: left;
}

.btn-primary {
  color: black;
  background-color: #7386ff;
  border-color: #7386ff;
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:hover,
.btn-primary:active, .btn-primary.active {
  color: black;
  background-color: #7d8fff !important;
  border-color: #7386ff !important;
  background-image: none;
  outline: none !important;
  box-shadow: none !important;
}

.open > .dropdown-toggle.btn-primary,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  color: black;
  background-color: #7386ff !important;
  border-color: #7386ff !important;
}

.open > .dropdown-toggle.btn-primary {
  color: black;
  background-color: #7386ff !important;
  border-color: #7386ff !important;
  background-image: none;
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary {
  color: black;
  background-color: #7386ff;
  border-color: #7386ff;
}

.btn-primary:hover {
  color: black;
  background-color: #7d8fff;
  border-color: #7386ff;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: black;
  background-color: #7d8fff;
  border-color: #7386ff;
  box-shadow: 0 0 0 0.2rem #7386ff;
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: black;
  background-color: #7d8fff;
  border-color: #7386ff;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #7386ff;
}

.btn-primary:disabled, .btn-primary.disabled {
  color: black;
  background-color: #7386ff;
  border-color: #7386ff;
}

.color-teal {
  background-color: #a5c6f7;
}

/*# sourceMappingURL=style.css.map */
