@import "./scss/variables";
@import "./scss/todos";
@import "./scss/validation";
@import "./scss/controls";
@import "./scss/navbar";
@import "./scss/index";

.color-teal {
    background-color: $color-teal;
}
.color-dark-blue {
    background-color: $color-dark-blue;
}