#top-background {
    height: 100vh;
    padding-top: 5vh;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bolder;
    font-size: 4em;
    margin-top: 2vh;
}

h3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    padding-top: 4vh;
}

.rounded {
    padding-top: 10vh;
}

.login-signup-form {
    background: #7386FF;
    border-radius: 47px;
    border: none;
    max-width: 400px;
}

.btn-signup {
    background: #FFE6B8;
    border-radius: 49px;
}

.input {
    background: #F1F3FF;
    border-radius: 15px;
}

p {
    color: white;
}

.toaster {
   max-width: 20vw;
}

.leaves {
    max-width: 40vw;
}

#mid-background {
    background-color: #FAFDFF;
    min-height: 35vh;
}

#footer {
    background-color: #7386FF;
    min-height: 10vh;
}