.toolbar {
    flex: 0 0 15%;
    background-color: $color-peach;
}
.content {
    display: flex;
    flex: 0 0 85%;
    padding: 5px;
    background-color: $color-teal;
}
.content-todos {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}
.content-avatar {
    display: flex;
    flex: 0 0 40%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}
.todos-header {
    flex: 0 0 5%;
    padding-top: 15px;
    padding-bottom: 5px;
}
.todos-container {
    flex: 1; // fill height
    min-width: 95%;
    background-color: $color-grey2;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.todos-controls {
    min-width: 95%;
    padding-top: 10px;
}
.todo-item {
    display: flex;
}
.avatar-display {
    display: flex;
    flex: 0 0 60%;
    min-width: 95%;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.avatar-items {
    display: flex;
    flex: 1; // fill remaining height
    min-width: 95%;
    flex-direction: column;
    align-items: center;
}

.btn-calendar {
    background-color: rgb(219, 219, 219);
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.create-todo-modal {
    text-align: left;
    padding: 10px 40px 10px 40px;
}
.create-todo-modal .form-group {
    margin-bottom: 1.5rem;
}
.modal-content .title-panel {
    background-color: $color-dark-blue;
    box-shadow: 0px 8px 10px -7px rgb(153, 153, 153);
}
.modal-form-header {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}

.modal-form-label {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

// Toolbar
.toolbar-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.toolbar-tab {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    height: 50px;
}
.toolbar-tab:hover {
    background-color: #d3d1d1;
}
.tab-link {
    display: flex;
    align-items: center;
    color: black;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}
.tab-link.active {
    background-color: #d3d1d1;
}
.toolbar-tab.active:hover{
    background-color: #d3d1d1;
}
.tab-link:link {
    color: inherit;
}
.tab-link:visited {
    color: inherit;
}
.tab-link:hover {
    text-decoration: none;
}

.image-stack::after {
    content: " ";
    display: table;
    clear: both;
}

.image-stack__item--top {
    float: left;
    width: 100%;
    margin-right: -100%;
    position: relative;
    z-index: 1;
}

.image-stack__item--bottom {
    float: right;
    width: 100%;
}
