$color-dark-blue: #7386ff;
$color-teal: #a7c6f6;
$color-grey2: #f7f8fc;
$color-peach: #ffe6b8;
$color-light-orange: #ffcc95;
 // Main submit button
$color-control-primary: $color-dark-blue;
$color-control-primary-brdr: $color-dark-blue;
$color-control-primary-hvr: lighten($color-dark-blue, 2%);

// Secondary submit button
$color-control-secondary: $color-peach;
$color-control-secondary-brdr: $color-peach;
$color-control-secondary-hvr: lighten($color-peach, 10%);