{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css')}}">
    <div class="row color-teal" id="top-background">
        <div class="col-6 text-center">
            <h1 class="pt-4 pb-4">Organize and Motivate with Toaster</h1>
            <h3>A rewarding way to get things done!</h3>
            <img class="rounded" src="{{ url_for('static', filename='images/jump.gif') }}" style="max-width: 25vw; padding-top: 0px;">
            <!-- <img class="rounded" src="{{ url_for('static', filename='images/jump.gif') }}" style="max-width: 25vw;"> -->
        </div>
        <div class="col-6">
            {% include 'signup_template.html' %}
            <div class="text-center">
                <img class="rounded mt-4" src="{{ url_for('static', filename='images/leaves.png') }}" style="max-width: 30vw;">
            </div>
        </div>
    </div>

    <div class="row" id="mid-background" style="background-color: #eeeeee">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <br><br><br><br><br><br>
            <h1>
                Our Impact
            </h1>
            <h3>
                Our app encourages you to build habits that enhance mental health and self-care.
            </h3>
            <br>
            <div class="row text-center pt-4">
                <div class="col-3"></div>
                <div class="col-3" style="font-size: 15pt">
                    <a href="https://www.youtube.com/" target="_blank">Watch a demo →</a>
                </div>
                <div class="col-3" style="font-size: 15pt">
                    <a href="#">Get started →</a>
                </div>
                <br><br><br><br><br><br>
                <div class="col-3"></div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row" id="footer">
        <div class="col text-center mt-4">
            <br>
            <p>Made by 
                <a style="color: #dddddd" href="https://github.com/lauraspberry">Laura Pei</a>, 
                <a style="color: #dddddd" href="https://github.com/noahastern">Noah Stern</a>, 
                <a style="color: #dddddd" href="https://github.com/gmedina5321">Lupe Medina</a>, and
                <a style="color: #dddddd" href="https://github.com/Perustaja">Dustin Cotten</a>
                
                for HackDavis. Copyright 2021.</p>
            <br><br><br><br>
        </div>
    </div>

{% endblock %}
