{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css')}}">
    <div class="row color-teal" id="top-background">
        <div class="col-6 d-flex flex-column align-items-center text-center pl-5">
            <div class="greeter-big">
                <h1>Organize and Motivate with InGrain</h1>
            </div>
            <div class="greeter-small">
                <h3>A rewarding way to get things done!</h3>
            </div>
            <img class="rounded" src="{{ url_for('static', filename='images/jump.gif') }}" style="max-width: 25vw; padding-top: 0px;">
        </div>
        <div class="col-6">
            {% include 'signup_template.html' %}
            <div class="leaves color-teal">
                <img src="{{ url_for('static', filename='images/leaves.png') }}" style="max-width: 30vw;">
            </div>
        </div>
    </div>
    <br><br><br>
    <div class="row p-5" id="mid-background" style="background-color: #eeeeee">
        <div class="d-flex flex-column align-items-center justify-content-center flex-fill">
            <div class="row text-center m-0 pb-3">
                <h1>Our Impact</h1>
            </div>
            <div class="row text-center m-0">
                <h3 style="line-height: 1.4;">Our app encourages you to build habits<br>that enhance mental health and self-care.</h3>
            </div>
            <div class="row text-center pt-4 justify-content-center text-nowrap m-0">
                <div class="col-sm-6" style="font-size: 15pt">
                    <a href="https://www.youtube.com/" target="_blank">Watch a demo →</a>
                </div>
                <div class="col-sm-6" style="font-size: 15pt">
                    <a href="#">Get started →</a>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>

    <div class="row" id="footer">
        <div class="col text-center mt-4">
            <br>
            <p>Made by
                <a style="color: #dddddd" href="https://github.com/lauraspberry">Laura Pei</a>,
                <a style="color: #dddddd" href="https://github.com/noahastern">Noah Stern</a>,
                <a style="color: #dddddd" href="https://github.com/gmedina5321">Lupe Medina</a>, and
                <a style="color: #dddddd" href="https://github.com/Perustaja">Dustin Cotten</a>

                for HackDavis, 2021.</p>
            <br><br><br><br>
        </div>
    </div>

{% endblock %}
