{% extends "layout.html" %}
{% block content %}
<div class="login-signup-form shadow mx-auto mb-3 mt-4">
  <div class="card-body">
      <h4 class="card-title text-center" style="color: lightblue;"><b>Log in!</b></h4>
      <p class="text-center" style="color: red;">{{ err }}</p>
      <form class="form-signup" action="{{ url_for('login') }}" method="POST" role="form">
          <div class="form-label-group mt-3">
              <label for="inputEmail">Email address</label>
              <input type="email" name="email" id="email" class="form-control"
                  placeholder="Email address" required>
          </div>
          <div class="form-label-group mt-3">
              <label for="inputPassword">Password</label>
              <input type="password" name="password" id="password" class="form-control"
                  placeholder="Password" required>
          </div>
          <div class="d-flex justify-content-center pt-4 text-custom">
            <button type="submit" class="btn btn-secondary text-uppercase">Log in!</button>
          </div>
      </form>
      <p class="text-center mt-4">Don't have an account?<a href="{{ url_for('index') }}">  Sign up!</a></p>
      <style>
        p, a {
          color: black
        }
      </style>
  </div>
</div>
{% endblock %}
