<div>
    <div class="container">
        <div class="image-stack">
            <div class="image-stack__item image-stack__item--top">

                <img src="{{ url_for('static', filename='images/bananas.png') }}">
            </div>
            <div class="image-stack__item image-stack__item--bottom">
                <img src="{{ url_for('static', filename='images/toast.png') }}">
            </div>
        </div>
    </div>

      <style>
        img {
          width: 20%;
          display: block;
        }

        .image-stack::after {
            content: ' ';
            display: table;
            clear: both;
          }

          .image-stack__item--top {
              float: left;
              width: 100%;
              margin-right: -100%;
              position: relative;
              z-index: 1;
          }

          .image-stack__item--bottom {
              float: right;
              width: 100%;
          }
      </style>
</div>
