
<div class="login-signup-form shadow mx-auto">
    <div class="card-body">
        <h4 class="card-title text-center">Create an Account!</h4>
        <p class="text-center" style="color: red;">{{ err }}</p>
        <form class="form-signup" action="{{ url_for('signup') }}" method="POST" role="form">
            <div class="form-label-group">
                <label for="inputName">Name</label>
                <input type="text" name="name" id="name" class="form-control"
                    placeholder="Name" required autofocus>
            </div>
            <div class="form-label-group mt-3">
                <label for="inputEmail">Email address</label>
                <input type="email" name="email" id="email" class="form-control"
                    placeholder="Email address" required>
            </div>
            <div class="form-label-group mt-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                    placeholder="Password" required>
            </div>
            <div class="form-label-group mt-3 mb-3">
                <label for="inputPassword">Confirm Password</label>
                <input type="password" name="passwordConfirmed" id="passwordConfirmed" class="form-control"
                    placeholder="Confirm Password" oninput="check(this)" required>
            </div>

            <!-- Make sure the passwords actually match! -->
            <script language='javascript' type='text/javascript'>
                function check(input) {
                    if (input.value != document.getElementById('password').value) {
                        input.setCustomValidity('Password Must be Matching.');
                    } else if (input.value.length < 6) {
                        input.setCustomValidity('Password Must be 6 Characters or More.');
                    } else {
                        input.setCustomValidity('');
                    }
                }
            </script>
            <div class="col text-center btn-signup">
                <button class="btn btn-lg text-uppercase" type="submit">Log
                    in</button>
            </div>
        </form>
        <p class="text-center mt-4">Already have an account? <a href="{{ url_for('login') }}">Log in!</a></p>
    </div>

</div>

