{% extends "layout.html" %}
{% block content %}
<!-- Main page -->
<div class="row d-flex flex-column min-vh-100">
    <div class="d-flex flex-fill">
        <div class="toolbar flex-fill">
            <div class="toolbar-tabs" id="toolbarTabs" role="tablist">
                <div class="toolbar-tab">
                  <a class="tab-link active" id="today" data-toggle="tab" role="tab">Today</a>
                </div>
                <div class="toolbar-tab">
                  <a class="tab-link" id="upcoming" data-toggle="tab" role="tab">Upcoming</a>
                </div>
                <div class="toolbar-tab">
                    <a class="tab-link" id="previous" data-toggle="tab"role="tab">Previous</a>
                  </div>
                <div class="toolbar-tab tab-underlined">
                  <a class="tab-link" id="completed" data-toggle="tab"role="tab">Completed</a>
                </div>
                <div class="toolbar-tab-btn">
                    <a class="tab-btn" data-toggle="modal" data-target="#createCategoryModal"><i class="fas fa-plus pr-2"></i>New Category</a>
                </div>
            </div>
        </div>
        <div class="content" style="background-color: #accbfb;">
            <div class="content-todos">
                <div class="todos-header">
                    <h1>To-dos</h1>
                </div>
                <div class="todos-container">
                    <!-- todos-subcontainer defaults to visiblity:hidden, override on the default container.
                    id must match the list in javascript below  -->
                    <!-- Today -->
                    <div class="todos-subcontainer" id="todayList">
                        {% for todoId, value in today_todos.items() %}
                        <div class="pl-2 pt-2">
                            <div class="row">
                                <div class="col-1">
                                    <form class="form-signup" action="{{ url_for('complete_todo') }}" method="POST" role="form">
                                        <input type="text" name="todoId" id="todoId" class="form-control" value="{{todoId}}" hidden>
                                        <button type="submit">&#10003;</button>
                                    </form>
                                </div>
                                <div class="col-4">
                                    <h4><b>{{value.title}}</b></h4>
                                </div>
                                <br>
                                <div class="col-6">
                                    <p style="color:darkgrey">{{value.description}}</p>
                                </div>
                                <div class="col-1">
                                    <img src="{{ url_for('static', filename='images/grain.png') }}" alt="" height='40'>                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9"></div>
                                <div class="col-3">
                                    {{value.dueDate}}
                                </div>
                            </div>
                        </div>
                        <hr style="height:1px;border-width:0;color:rgb(167, 165, 165);background-color:rgb(167, 165, 165)">
                    {% endfor %}
                    </div>

                    <!-- Previous -->
                    <div class="todos-subcontainer hidden" id="previousList">
                        {% for todoId, value in previous_todos.items() %}
                        <div class="pl-2 pt-2">
                            <div class="row">
                                <div class="col-2">
                                    <img src="{{ url_for('static', filename='images/grain.png') }}" alt="" height='40'>
                                </div>
                                <div class="col-4">
                                    <h4><b>{{value.title}}</b></h4>
                                </div>
                                <br>
                                <div class="col-5">
                                    Due on: {{value.dueDate}}
                                </div>
                                <div class="col-1">
                                    <form class="form-signup" action="{{ url_for('complete_todo') }}" method="POST" role="form">
                                        <input type="text" name="todoId" id="todoId" class="form-control" value="{{todoId}}" hidden>
                                        <button type="submit">&#10003;</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                   <p style="color: darkgrey">{{value.description}}</p>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                        <hr style="height:1px;border-width:0;color:rgb(167, 165, 165);background-color:rgb(167, 165, 165)">
                    {% endfor %}
                    </div>

                    <!-- Upcoming -->
                    <div class="todos-subcontainer hidden" id="upcomingList">
                        {% for todoId, value in upcoming_todos.items() %}
                        <div class="pl-2 pt-2">
                            <div class="row">
                                <div class="col-2">
                                    <img src="{{ url_for('static', filename='images/grain.png') }}" alt="" height='40'>
                                </div>
                                <div class="col-4">
                                    <h4><b>{{value.title}}</b></h4>
                                </div>
                                <br>
                                <div class="col-5">
                                    Due on: {{value.dueDate}}
                                </div>
                                <div class="col-1">
                                    <form class="form-signup" action="{{ url_for('complete_todo') }}" method="POST" role="form">
                                        <input type="text" name="todoId" id="todoId" class="form-control" value="{{todoId}}" hidden>
                                        <button type="submit">&#10003;</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                   <p style="color:darkgrey">{{value.description}}</p>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                        <hr style="height:1px;border-width:0;color:rgb(167, 165, 165);background-color:rgb(167, 165, 165)">
                    {% endfor %}
                    </div>

                    <!-- Complete -->
                    <div class="todos-subcontainer hidden" id="completedList">
                        {% for todoId, value in completed_todos.items() %}
                        <div class="pl-2 pt-2">
                            <div class="row">
                                <div class="col-2">
                                    <img src="{{ url_for('static', filename='images/grain.png') }}" alt="" height='40'>
                                </div>
                                <div class="col-4">
                                    <h4><b>{{value.title}}</b></h4>
                                </div>
                                <br>
                                <div class="col-5">
                                    Due on: {{value.dueDate}}
                                </div>
                                <div class="col-1">
                                    <form class="form-signup" action="{{ url_for('complete_todo') }}" method="POST" role="form">
                                        <input type="text" name="todoId" id="todoId" class="form-control" value="{{todoId}}" hidden>
                                        <button type="submit">&#10003;</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                   <p style="color: darkgrey;">{{value.description}}</p>
                                </div>
                                <div class="col-3"></div>
                            </div>
                        </div>
                        <hr style="height:1px;border-width:0;color:rgb(167, 165, 165);background-color:rgb(167, 165, 165)">
                    {% endfor %}
                    </div>
                </div>
                <div class="todos-controls">
                    <button class="btn btn-primary w-100" data-toggle="modal" data-target="#createTodoModal">Add Task</button>
                </div>
            </div>
            <div class="content-avatar">
                <div class="avatar-display">
                    <div class="container text-center">
                        <h1>Hi, I'm Toasty!</h1>
                        <div class="image-stack">
                            <div class="image-stack__item image-stack__item--top">
                                <img src="{{ url_for('static', filename='images/'+overlay+'.png') }}">
                            </div>
                            <div class="image-stack__item image-stack__item--bottom">
                                <img src="{{ url_for('static', filename='images/toast.gif') }}"style="max-width: 20vw;">
                            </div>
                        </div>
                        <h2>Click on the buttons below to change my toppings!</h2>

                    </div>
                </div>
                <div class="avatar-items">
                    <!-- <h1>My Items</h1> -->
                    {% for topping in owned_toppings %}
                        <form class="form-signup" action="{{ url_for('update_topping') }}" method="POST" role="form">
                            <input type="text" name="topping" id="topping" class="form-control" value="{{topping}}" hidden>
                            <button type="submit">{{topping}}</button>
                        </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Main page -->
<!-- Create Category modal -->
<div class="modal fade" id="createCategoryModal">
    <div class="modal-dialog text-center" style="width: 500px;">
        <div class="form-panel shadowed modal-content color-teal">
            <div class="title-panel color-dark-blue mb-3">
                <div class="row">
                    <div class="col-md-12 justify-content-right">
                        <button type="button" class="close mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <span class="modal-form-header col-md-12">New category</span>
                </div>
            </div>
            <!-- Form -->
            <form action="{{ url_for('create_todos') }}" method="POST" role="form" id="createCategoryForm" class="create-todo-modal">
                <!-- Validation message -->
                {% if err %}
                <div class="form-group pl-5 pr-5">
                    <div class="validation-msg error">
                        <div class="validation-icon error">
                            <i class="fas fa-times-circle"></i>
                        </div>
                        <div class="validation-text text-danger no-bullet">
                            <p>Some error message if validation fails</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="title" class="modal-form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Title" required autocomplete="off">
                </div>
                <div class="form-group text-center mt-3">
                    <button class="btn btn-lg btn-primary text-uppercase" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Create Todo modal -->
<div class="modal fade" id="createTodoModal">
    <div class="modal-dialog text-center" style="width: 500px;">
        <div class="form-panel shadowed modal-content color-teal">
            <div class="title-panel color-dark-blue mb-3">
                <div class="row">
                    <div class="col-md-12 justify-content-right">
                        <button type="button" class="close mr-1 mt-1" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                    <span class="modal-form-header col-md-12">Create a new to-do</span>
                </div>
            </div>
            <!-- Form -->
            <form action="{{ url_for('create_todos') }}" method="POST" role="form" id="createTodoForm" class="create-todo-modal">
                <!-- Validation message -->
                {% if err %}
                <div class="form-group pl-5 pr-5">
                    <div class="validation-msg error">
                        <div class="validation-icon error">
                            <i class="fas fa-times-circle"></i>
                        </div>
                        <div class="validation-text text-danger no-bullet">
                            <p>Some error message if validation fails</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="title" class="modal-form-label">Title</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="Title" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="title" class="modal-form-label">Description</label>
                    <input type="text" name="description" id="description" class="form-control" placeholder="Description (Optional)" autocomplete="off">
                </div>
                <!-- Datepicker -->
                <div class="form-group">
                    <label for="date" class="modal-form-label">Due Date</label>
                    <div class="input-group">
                        <input id="todoDatePicker" name="date" id="date" type="text" class="form-control date"
                        required autocomplete="off" placeholder="When the task is due"/>
                        <label class="input-group-btn" for="todoDatePicker">
                            <span class="btn btn-calendar"><span class="fa fa-calendar"></span></span>
                        </label>
                    </div>
                </div>
                <!-- Category selection -->
                <div class="form-group">
                    <label for="category" class="modal-form-label">Category</label>
                    <select class="form-control">
                        <option>Some category...</option>
                    </select>
                </div>
                <div class="form-group text-center mt-3">
                    <button class="btn btn-lg btn-primary text-uppercase" type="submit">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Create Todo modal -->

<!-- Modal JS -->
<script type="text/javascript">
    $(function () {
        $("#todoDatePicker").datepicker({
            dateFormat: 'dd/mm/yy',
            todayBtn: 'linked',
            autoclose: 'true',
            todayHighlight: 'true'
        });
        $('.fa-calendar').click(function () {
            $("#todoDatePicker").focus();
        });
    });
</script>
<!-- Toolbar onclicks JS -->
<script type="text/javascript">
    // tab-clicks
    $(function () {
        $('.tab-link').click(() =>
        {
            let element = event.srcElement;
            let listEleId = "";
            switch(event.srcElement.id) {
                case "today":
                    listEleId = "todayList";
                    break;
                case "upcoming":
                    listEleId = "upcomingList";
                    break;
                case "previous":
                    listEleId = "previousList";
                    break;
                case "completed":
                    listEleId = "completedList";
                    break;
            }
            // Now clear all active tabs and hide all other lists
            for (let ele of document.getElementsByClassName("tab-link")) {
                ele.classList.remove("active");
            }
            for (let ele of document.getElementsByClassName("todos-subcontainer")) {
                ele.classList.add("hidden");
            }
            // Now set this tab active
            element.classList.toggle("active");
            // And set the list visible
            document.getElementById(listEleId).classList.toggle("hidden");
        });
    });
</script>
{% endblock %}
