{% extends "layout.html" %}
{% block content %}
<p>Hello, World!</p>
<div>Add a new todo item:  
    <form action="{{ url_for('add_item') }}" method="POST">  
        <input type="text" name="item">  
        <input type="submit" value="Add Item" class="button">  
    </form>
</div>
<!-- <h2>Completed Items</h2>  
<ul> 
    {% for todo in complete %} 
    <br>  
    <li style="font-size: 30pt">{{ todo[0] }}</li> 
    <li style="font-size: 30pt">{{ todo[1] }}</li>  
    {% endfor %}  
</ul>   -->

{% endblock %}
